<sidebar>Loding...</sidebar>
<div class="container-fluid  mt-5">
    <div *ngFor="let product of products">
  
  
      <allclassification class="m-3" img={{product.img}} description={{product.description}}
        price={{product.price}} title={{product.title}}>
        Loading...</allclassification>
    </div>
    <allclassification class="m-3" img="./assets/layout6.png" description="A fusion of strength conditioning, ballet, yoga, and pilates, this workout pairs light dumb bells with your own bodyweight and high repetitions to give you a great muscular endurance workout."
        price="0" title="Barre">
        Loading...</allclassification>
        <allclassification class="m-3" img="./assets/layout7.png" description="This class teaches basic rope and climbing skills so that patrons can belay at the WVU Climbing Wall."
        price="12" title="Belay Class">
        Loading...</allclassification>
  </div>