<div class="btn-group" role="group">
  <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
    aria-expanded="false">
    View Programs
  </button>
  <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    <a href="" class="nav-link text-blue">Classification </a>

    <li><a routerLink="/All Classifications" routerLinkActive="active" class="dropdown-item" href="#">
      All Classifications
    </a></li>
    
    <li><a class="dropdown-item" href="#">Adventure WV</a></li>
           
    <li><a class="dropdown-item" href="#">Adventure WV-Guided Trips</a></li>
    <li><a class="dropdown-item" href="#">Aquatics</a></li>
    <li><a class="dropdown-item" href="#">climbing Wall</a></li>
    <li><a class="dropdown-item" href="#">Club Sport</a></li>
  </ul>
</div>