<div class="container-fluid d-flex">


    <div class="card" style="width: 18rem;">
        <img src="./assets/128_Memberships_v3.png" alt="...">
        <div class="card-body">

            <p class="card-title text-center">Profile</p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            
            
            <button type="button" class="btn btn-link"> <img src="./assets/pic12.png">Programs,Courses and Trips</button>
            
            
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./assets/pic05.png" alt="...">
        <div class="card-body">

            <p class="card-title text-center">Group Exercise</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        
        <img src="./assets/pic06.jpg" alt="..." style="width: 120px; height: 200px;">

        <div class="card-body">

            <p class="card-title text-center">NIRSA Regional Basketball Tournament</p>
        </div>
    </div>
</div>
<div class="container-fluid d-flex">
    <div class="card" style="width: 18rem;">
        <img src="./assets/pic07.png" alt="...">
        <div class="card-body">

            <p class="card-title text-center">Multi-Visit Passes</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./assets/pic19.png" alt="...">
        <div class="card-body">

            <p class="card-title text-center">Facilities</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./assets/pic13.png" alt="...">
        <div class="card-body">

            <p class="card-title text-center">Intramural Sports</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./assets/pic27.png" alt="...">
        <div class="card-body">

            <p class="card-title text-center">Bookings</p>
        </div>
    </div>
</div>

<div class="card text-center">
    
      
   
    