<p>
 
</p>


<wvuappgo>LOading..</wvuappgo>

<category-header>Loading...</category-header>
<div class="container-fluid  mt-5">
  <div *ngFor="let product of products">

  
  <wvuappgo-horizontal-card  class="m-2" img={{product.img}}  description={{product.description}}[price]='product.price'>
    Loading...</wvuappgo-horizontal-card>
</div>
  <wvuappgo-horizontal-card class="m-5" img="./assets/index2.jpeg">Loading...</wvuappgo-horizontal-card>
  <wvuappgo-horizontal-card class="m-5" img="./assets/index3.jpeg">Loading...</wvuappgo-horizontal-card>
</div>