<nav class="navbar">

  <div class="container">
    
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown 
      </a>
    
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li class ="nav-item">
          <a routerLink="/course-program" routerLinkActive="active" class="dropdown-item" href="#">
            course-program
          </a>
        <li><a class="dropdown-item" href="/assets/bootstrap-icons.svg#heart-fill">Profile</a></li>
        <li><a class="dropdown-item" href="#">Programs,Courses and Trips</a></li>
        <li><a class="dropdown-item" href="#">Group Exercise</a></li>
        <li><a class="dropdown-item" href="#">NIRSA Regional Basketball Tournament</a></li>
        <li><a class="dropdown-item" href="#">Facilities</a></li>
        <li><a class="dropdown-item" href="#">IntramuralSport</a></li>
        <li><a class="dropdown-item" href="#">Bookings</a></li>
        
      </ul>
    
    <img src="assets/wvulogg.png" alt="" height="50px" >
    <form class="d-flex">
     
      <input class="form-control me-2" type="search programs" placeholder="Search programs" aria-label="Search programs">
      <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></button>
      
    </form>
    <button class="btn btn-outline-success" type="submit"> Sign in</button>
    <a class="navbar-brand" href="#">
      
    </a>
  </div>
</nav>